* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 830px;
    height: 340px;
    padding: 20px;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.image1 {
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.image1:hover{
    transform: rotateY(180deg);
}

.image1 .front_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/250x300/?flower);
    backface-visibility: hidden;
}

.image1 .back_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/250x300/?tree);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.image2 {
    width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    perspective: 1000px;
}

.image2 .front_img {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/250x300/?processor);
    backface-visibility: hidden;
}

.image2 .back_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    background: url(https://source.unsplash.com/250x300/?motherboard);
    background-position: left;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.image2:hover .back_img {
    z-index: 2;
    transform: rotateY(0deg);
    transition: 0.5s;
}

.image3 .front_img {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/250x300/?monitor);
}

.image3 {
    width: 250px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.image3 .back_img {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: 100%;
    background: url(https://source.unsplash.com/250x300/?cpu);
    visibility: hidden;
    transition: 0.5s;
}

.image3:hover .back_img {
    visibility: visible;
    z-index: 3;
    top: 0%;
    right: 0%;
    transition: 0.5s;
}